@charset "utf-8";
/* CSS Document */


.content_area{width:900px; margin:0 auto; overflow:hidden; padding-top:150px}

.titlestrip{display:block; padding:2px 10px; background:#7a8491; color:white; margin-bottom:20px}
#form_table{margin:0 auto !important}

.fmedium{font:90%; font-weight:100}
.textbox_border{border:#7a8491 solid 1px; margin-bottom:20px}
.space{margin:5px 0}
.sub_button{border-radius:5px; padding:4px 6px; background-color:#df8500; color:white}
.sub_button:hover{background:#006596}